/* css reset */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*--- end of reset ----*/
  
  :root {
    --blanco: white;
    --gris-medio: #333333;
    --gris-oscuro: #1e1e1e;
    --main-font: "Oswald", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
    --shadow: rgba(0, 0, 0, 0.75);
    --verde: #7ac943;
  }
  
  body, header, section {
    align-items: center;
    background-color: var(--gris-medio);
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .skip-link{
    height: 0;
  }

  .skip-link:focus,
  .skip-link:active{
    height: auto;
    background-color: var(--verde);
    color: var(--gris-oscuro);
    padding: 20px;
    margin: 20px 0;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: var(--secondary-font);
    transition: 500ms;
  }

  .header {
    color: var(--blanco);
    font-family: var(--main-font);
    font-size: 55px;
    margin-top: 16px;
  }
  
  .subtitle {
    color: var(--verde);
    font-family: var(--secondary-font);
    font-size: 24px;
  }
  

  
  .header-img {
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--gris-oscuro);
    box-shadow: 8px 16px 32px 0px var(--shadow);
    height: 300px;
    margin-top: 80px;
    width: 300px;
  }
  
  nav {
    width: 100%;
   
  }

  .navigation {
    color: var(--blanco);
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin: 24px auto;
    width: 50%;
  }

  .nav-item a {
    text-decoration: none;
    color : var(--blanco)
  }
  
  .nav-item {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-family: var(--secondary-font);
    height: 30px;
    justify-content: center;
    width: 33%;
  }
  
  .nav-item:hover,
  .nav-item:hover a
  {
    background-color: var(--verde);
    color: var(--gris-oscuro);
    font-weight: bold;
  }

  .nav-item a:focus,
  .nav-item:focus-within{
    outline: none;
    color: var(--gris-oscuro);
    background-color: var(--verde);
    font-weight: bold;
  }
  
  
  .intro {
    color: var(--blanco);
    font-size:  1.5rem;
    margin: 30px 250px 0;
    font-family: var(--secondary-font);
  }
  
  .social-media {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 32px auto 0;
    width: 20%;
  }
  .social-media figure{
    width: 60px;
  }
  .social-media figcaption{
    text-decoration: none;
    color: var(--blanco);
    font-family: var(--secondary-font);
    font-weight: bold;
  }

  .social-media a{
    outline: none;
  }

  .social-media li:focus-within{
    outline: 3px var(--verde) solid;
  }
  
  .icon-social{
      width: 100%;
  }
  .carousel {
    align-items: center;
    display: flex;
    margin: 48px 0 64px;
    justify-content: center;
    width: 100%;
  }
  
  .window {

    overflow: hidden;
    scroll-behavior: smooth;
    width: 45%;
    margin: 0 30px;
  }
  
  .project-container {
    
    white-space: nowrap;
  }
  .project-container li {
    display: inline-block;
    margin: 20px 0;
  }
  .project-container li button{
    border: none;
    background: none;
  }

  .project-img {
    border-radius: 5px;
    border: 2px solid #000;
    object-fit: cover;
    height: 400px;
    margin: 0 8px;
    width: 250px;
  }
  .ProjectBtn{
    outline: none;
    transition: all 0.2s ease-in-out;
  }
  
  .ProjectBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .ProjectBtn:focus-within{
    transform: scale(1.1);
    outline: 2px var(--verde) solid;
    padding: 5px;
  }
  
  .arrowBtns{
    background: none;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
  }

  .arrowBtns:focus{
    transform: scale(1.1);
    outline: 2px var(--verde) solid;
  
  }
  .arrowBtns:hover{
    transform: scale(1.2);
  }


  .arrow {
    cursor: pointer;
    width: 75px;
  }
  
  .arrow-left {
    border: 3px var(--verde) solid;
    background-color: var(--verde);
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow-right {
    border: 3px var(--verde) solid;
    background-color: var(--verde);
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-section {
    align-items: center;
    background-color: var(--gris-oscuro);
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .form-container input:focus{
    outline: 3px var(--verde) solid;
  }
  
  .message-input{
    color: var(--blanco);
    margin: 10px 0;
  }

  .message-input input {
    height: 150px;
    margin-bottom: 16px;
    
  }
  
  input {
    outline: none;
    width: 100%;
  }
  
  .send-button {
    background-color: #459c3f;
    border-radius: 5px;
    color: white;
    font-family: var(--secondary-font);
    height: 50px;
    margin-bottom: 48px;
    width: 150px;
    margin-left: auto;
    border: none;
    font-size:  1.5rem;
  }
  .send-button:focus{
    outline: 3px var(--verde) solid;
  }
  
  .notification {
    align-items: center;
    background-color: var(--verde);
    border-radius: 5px;
    box-shadow: 8px 16px 32px 0px var(--shadow);
    color: var(--blanco);
    display: none;
    font-family: var(--secondary-font);
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 24px;
    top: 24px;
    width: 300px;
  }
  
  .modal-container {
    align-items: center;
    background-color: rgba(000, 000, 000, 0.2);
    display: none;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
  }
  
  .modal {
    align-items: center;
    background-color: var(--gris-oscuro);
    border-radius: 5px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
    position: fixed;
    top: 15%;
    width: 700px;
  }
  
  .modal-project-image {
    border-radius: 5px;
    border: 2px solid #000;
    height: 400px;
    margin: 16px;
    width: 550px;
  }

  .modal-button {
    background-color: #459c3f;
    border-radius: 5px;
    color: white;
    font-family: var(--secondary-font);
    height: 50px;
    margin: 10px 20px 48px auto;
    width: 150px;
    outline: 2px var(--verde) solid;
    border: none;
    font-size:  1.5rem;
  }